html[lang="he"] {

  body {
    direction: rtl;
  }

  @media (min-width: 992px) {
    .sideNav {
      margin-right: 0;
      margin-left: 50px;
    }
  }

  @media (max-width: 1099px) and (min-width: 992px),(min-width: 1100px) {
    .App-content .sideNavOffset {
      margin-left: 0;
      margin-right: 300px;
    }

    .App-nav .AdminNav .Dropdown-menu > li > a {
      padding: 15px 45px 15px 15px;
    }
  }

  .Button-icon {
    margin-left: 7px;
    margin-right: 0;
  }

  .Button-caret {
    margin-left: 0;
    margin-right: 7px;
  }

  @media (min-width: 768px) {
    .sideNav .Dropdown--select .Dropdown-menu > li > a .Button-icon {
      float: right;
      margin-left: 0;
      margin-right: -30px;
      font-size: 15px;
    }

    .Header-secondary {
      float: left;
    }

    .Header-title {
      float: right;
      margin: 0 0 0 15px;
    }

    .Header-navigation {
      float: right;
      margin-right: 0;
      margin-left: 25px;
    }
  }

  .Dropdown-menu > li > a, .Dropdown-menu > li > button, .Dropdown-menu > li > span {
    text-align: right;
  }

  .Select-caret {
    margin-left: 0;
    margin-right: -30px;
    z-index: 1;
    position: relative;
  }

  .Select select {
    padding-right: 13px;
    padding-left: 30px;
  }

  .Checkbox--switch {
    padding-right: 65px;
    padding-left: 0;
  }

  .Checkbox--switch .Checkbox-display {
    float: right;
    margin-left: 0;
    margin-right: -65px;
  }

  .checkbox input[type=checkbox], .checkbox input[type=radio] {
    float: right;
    margin-left: 0;
    margin-right: -20px;
  }

  .checkbox {
    padding-right: 20px;
    padding-left: 0;
  }

  .ExtensionListItem-content {
    direction: ltr;
  }

  .TagList .TagIcon, .TagList ol .TagIcon, .TagList .icon, .TagList ol .icon {
    margin-left: 10px;
    margin-right: 0;
  }

  .TagGroup, .LinkItems {
    padding-right: 150px;
    padding-left: 0;
  }

  .TagGroup > label, .LinkItems > label {
    margin-left: 0;
    margin-right: -150px;
    float: right;
  }

  .TagListItem-info .Button, .LinkListItem-info .Button {
    float: left;
    margin: -8px 10px -8px -10px;
  }

  .FlarumSEO {
    direction: ltr;
    float: right;
  }

  .PermissionGrid td, .PermissionGrid th {
    text-align: right;
  }

  .PermissionGrid tbody .Dropdown .Dropdown-toggle {
    text-align: right;
  }

  .PermissionGrid tbody th .icon {
    margin-right: 0;
    margin-left: 5px;
  }

  .Dropdown-menu > li > a.hasIcon, .Dropdown-menu > li > button.hasIcon, .Dropdown-menu > li > span.hasIcon {
    padding-right: 40px;
    padding-left: 15px;
  }

  .Dropdown-menu > li > a .Button-icon, .Dropdown-menu > li > button .Button-icon, .Dropdown-menu > li > span .Button-icon {
    float: right;
    margin-left: 0;
    margin-right: -25px;
  }

  .Dropdown-menu {
    left: auto;
    right: 0;
  }

  .PermissionGrid tbody .Button .Badge {
    margin: -3px 0 -3px 3px;
  }

  .StatusWidget > ul > li.item-tools {
    float: left;
  }

  .Header-secondary {
    text-decoration: ltr;
  }

  .Navigation-back .icon {
    transform: rotate(180deg);
  }

  ul.Header-controls {
    direction: ltr;
  }

  .FoF-Linguist-Controls {
    direction: ltr;
  }

  .FoF-Linguist-Placeholder {
    left: auto;
    right: 0;
  }
  .EditCustomCssModal textarea, .EditCustomHeaderModal textarea {
    direction: ltr;
  }
}