html[lang=he] {
  .App,
  #modal,
  #alerts {
    direction: rtl;
  }

  @media (min-width: 992px) {
    .sideNav {
      float: right;
    }

    .sideNavOffset {
      margin-left: 0;
      margin-right: 50px;
    }

    .App--discussion .Composer:not(.fullScreen) {
      margin-right: 0;
      margin-left: 225px;
    }

    .App--index .Composer:not(.fullScreen) {
      margin-left: -14px;
      margin-right: 276px;
    }
    .hasPane.panePinned .App-content, .hasPane.panePinned .App-footer {
      margin-left: 0;
      margin-right: 400px;
    }
  }

  .Button-caret {
    margin-left: 0;
    margin-right: 7px;
  }

  .SessionDropdown .Dropdown-toggle .Avatar {
    margin-right: -6px;
    margin-left: 5px;
  }

  @media (min-width: 768px) {
    .Header-secondary .Search {
      margin-right: 0;
      margin-left: 10px;
    }

    .Search {
      -webkit-transition: margin-right .4s;
      -o-transition: margin-right .4s;
      transition: margin-right .4s;
    }

    .Search.focused {
      margin-right: -400px;
    }

    .Header-title {
      float: right;
      margin: 0 0 0 15px;
    }

    .Header-secondary {
      float: left;
    }

    .sideNav .Dropdown--select .Dropdown-menu > li > a .Button-icon {
      float: right;
      margin-left: 0;
      margin-right: -30px;
    }

    .sideNav .Dropdown--select .Dropdown-menu > li > a {
      padding: 8px 30px 8px 0;
    }

    .ComposerBody-avatar {
      float: right;
    }

    .ComposerBody-content {
      margin-left: auto;
      margin-right: 85px;
    }

    .paneShowing .DiscussionPage-list {
      left: auto;
      right: 0;
    }

    .TextEditor-controls {
      margin: 0 -105px 0 -20px;
    }

    .TextEditor-controls li {
      margin-right: auto;
      margin-left: 5px;
    }

    .TagDiscussionModal .Modal-header h3 {
      text-align: right;
    }

    .Modal-close {
      right: auto;
      left: 10px;
    }

    .IndexPage .DiscussionListItem-title,
    .UserPage .DiscussionListItem-title {
      margin-right: 0;
      margin-left: 155px;
    }

    .DiscussionListItem {
      margin-right: -15px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 25px;
    }

    .IndexPage .DiscussionListItem-info > .item-tags,
    .UserPage .DiscussionListItem-info > .item-tags {
      right: auto;
      left: 80px;
    }

    .DiscussionListItem-count {
      margin-right: 0;
      margin-left: -60px;
      padding-left: 0;
      padding-right: 21px;
    }

    .DiscussionListItem-author {
      margin-left: 0;
      margin-right: -52px;
    }

    .DiscussionListItem-badges {
      margin-left: auto;
      margin-right: -65px;
    }

    .DiscussionListItem-count:before {
      margin-left: 0;
      margin-right: -21px;
      float: right;
    }

    .DiscussionListItem-content {
      padding-right: 52px;
      padding-left: 65px;
    }

    .DiscussionListItem-controls {
      right: auto;
      left: 5px;
      .Dropdown-menu {
        left: 0;
        right: auto;
      }
    }

    .DiscussionListItem-main {
      margin-right: 0;
      margin-left: -65px;
    }

    .Post {
      padding-left: 20px;
      padding-right: 105px;
    }

    .PostUser-avatar {
      left: 0;
      right: -85px;
    }

    .DiscussionPage-nav {
      float: left;
    }

    .DiscussionPage-stream {
      margin-right: 0;
      margin-left: 225px;
    }

    .PostUser-badges {
      float: right;
      margin-left: auto;
      margin-right: -80px;
    }

    .Header-navigation .ButtonGroup {
      display: flex;
    }

    /*.Header-navigation { float: right; margin-right: 0; margin-left: 25px; }
    .DiscussionPage-list { left: auto; right: -406px; -webkit-transition: right .2s; -o-transition: right .2s; transition: right .2s; }
    .paneShowing .DiscussionPage-list { left: auto; right: 0; }*/
    .DiscussionPage-list .DiscussionListItem-content {
      padding-left: 80px;
      padding-right: 67px;
    }

    .Header-primary {
      float: right
    }

    .Header-navigation {
      float: right;
      margin-left: 25px;
      margin-right: 0;
    }

    .Post-flagged {
      margin-left: -22px;
      margin-right: -107px;
    }

    .DiscussionListItem-info .item-excerpt {
      margin-left: 170px;
      margin-right: 0;
    }
    .EventPost-icon {
      margin-left: 0;
      margin-right: -85px;
    }
  }

  .Button-icon {
    margin-left: 4px;
    margin-right: 0;
  }

  .Dropdown-menu > li > a .Button-icon,
  .Dropdown-menu > li > button .Button-icon,
  .Dropdown-menu > li > span .Button-icon {
    float: right;
    margin-left: 0;
    margin-right: -25px;
  }

  .Dropdown-menu > li > a .Button-icon.TagIcon {
    margin-top: 4px;
  }

  .Dropdown-menu > li > a.hasIcon,
  .Dropdown-menu > li > button.hasIcon,
  .Dropdown-menu > li > span.hasIcon {
    padding-left: 0;
    padding-right: 40px;
    padding-left: 20px;
  }

  .Dropdown-menu > li > a,
  .Dropdown-menu > li > button,
  .Dropdown-menu > li > span {
    text-align: right;
  }

  .Composer-controls {
    right: auto;
    left: 10px;
  }

  .DiscussionComposer-changeTags {
    margin-right: auto;
    margin-left: 15px;
  }

  .DiscussionComposer-poll {
    margin-right: 0;
    margin-left: 15px;
  }

  .ComposerBody-header h3 input,
  .ComposerBody-header h3 input[disabled],
  .ComposerBody-header h3 input:focus {
    padding: 0 0 0 20px;
  }

  .ComposerBody-header > li {
    margin-right: auto;
    margin-left: -4px;
  }

  .SelectTagList > li {
    display: flex;
  }

  .TagDiscussionModal .Modal-footer {
    text-align: right;
  }

  @media (max-width: 991px) and (min-width: 768px),
  (max-width: 1099px) and (min-width: 992px),
  (min-width: 1100px) {
    .TagDiscussionModal-form-submit {
      padding-left: 0;
      padding-right: 15px;
    }
  }

  .Dropdown-menu {
    text-align: right;
  }

  .UserCard-profile {
    padding-left: 0;
    padding-right: 130px;
    text-align: right;
  }

  .UserCard-avatar {
    margin-right: -130px;
    margin-left: auto;
    float: right;
  }

  .UserPage .UserCard-controls {
    float: left;
  }

  .UserCard-info > li {
    margin-right: auto;
    margin-left: 15px;
  }

  .Settings-account li {
    margin-right: 0;
    margin-left: 5px;
  }

  .NotificationGrid-groupToggle .icon {
    margin-right: 0;
    margin-left: 2px;
  }

  .Button-badge {
    margin-left: 0;
    margin-right: 10px;
  }

  .item-nav .Button-label {
    display: inline-flex;
  }

  .Checkbox--switch {
    padding-left: 0;
    padding-right: 65px;
  }

  .Checkbox--switch .Checkbox-display {
    float: right;
    margin-left: auto;
    margin-right: -65px;
    text-align: left;
  }

  .Checkbox--switch .Checkbox-display .LoadingIndicator {
    margin-left: 14px;
  }

  .EditUserModal-groups .Badge {
    margin: -3px 0 -3px 3px;
  }

  .checkbox {
    padding-left: 0;
    padding-right: 20px;
  }

  .checkbox input[type=checkbox],
  .checkbox input[type=radio] {
    float: right;
    margin-left: 0;
    margin-right: -20px;
  }

  .DiscussionListItem-count {
    float: left;
  }

  .DiscussionListItem-author {
    float: right;
  }

  .DiscussionListItem-badges {
    float: right;
    text-align: left;
  }

  .IndexPage-toolbar-action {
    float: left;
  }

  .ButtonGroup > .Button {
    float: right;
  }

  .ButtonGroup > .Button:last-child:not(:first-child):not(.Navigation-pin),
  .ButtonGroup > .Button.Dropdown-toggle:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ButtonGroup > .Button:first-child:not(:last-child):not(.Dropdown-toggle) {
    margin-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .Post-header > ul > li {
    margin-right: 0;
    margin-left: 10px;
  }

  .Post-actions {
    float: left;
  }

  .Post-actions > ul > li {
    margin-left: 0;
    margin-right: -5px;
  }

  .PostUser .UserCard {
    left: auto;
    right: -100px;
    transform-origin: right top;
  }

  .Scrubber-scrollbar {
    margin-right: 3px;
    margin-left: 0;
  }

  .Scrubber-bar {
    float: right;
    margin-left: 0;
    margin-right: -2px;
  }

  .Scrubber-info {
    left: auto;
    right: 15px;
  }

  .Scrubber-unread {
    padding-left: 0;
    padding-right: 13px;
    background-image: linear-gradient(to left, #ededed, rgba(237,237,237,0) 10px, rgba(237,237,237,0));
    border-left: none;
    border-right: 1px solid #9a9a98;
  }

  .Scrubber-before,
  .Scrubber-after {
    border-left: 0;
    border-right: 1px solid #eaeaea;
  }

  /*.Navigation-back .icon { transform: rotate(180deg); }*/

  @media (min-width: 1100px) {
    .hasPane.panePinned .Navigation-pin, .hasPane.paneShowing .Navigation-pin {
      margin-left: 0px !important;
    }

    .hasPane.panePinned .Navigation-back, .hasPane.paneShowing .Navigation-back {
      border-radius: 0 4px 4px 0 !important;
    }

    .ButtonGroup > .Button:last-child:not(:first-child), .ButtonGroup > .Button.Dropdown-toggle:not(:first-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .DiscussionListItem-info > .item-tags {
    margin-right: 0;
    margin-left: 4px;
  }

  .Navigation-pin .icon {
    transition: transform 0.2s;
  }

  .Post-footer .icon {
    margin-right: 0;
    margin-left: 5px;
  }

  .UserCard-badges {
    margin: 0 15px 0 0
  }

  .UserCard-controls {
    float: left;
  }

  @media (max-width: 1099px) and (min-width: 992px),
  (min-width: 1100px) {
    .App-content .sideNavOffset {
      margin-left: auto;
    }

    .App-nav .AdminNav .Dropdown-menu > li > a {
      padding: 15px 45px 15px 15px;
    }
  }

  .PermissionGrid td,
  .PermissionGrid th {
    text-align: unset;
  }

  .PermissionGrid tbody th .icon {
    margin-right: auto;
    margin-left: 5px;
  }

  .PermissionGrid tbody .Dropdown .Dropdown-toggle {
    text-align: unset;
  }

  .Form--centered .checkbox {
    text-align: right;
  }

  .EditCustomCssModal textarea,
  .EditCustomHeaderModal textarea {
    direction: ltr;
  }

  .Button.loading .Button-label {
    margin-right: auto;
    margin-left: 20px;
  }

  .Button .Button-label {
    -webkit-transition: margin-left .1s;
    -o-transition: margin-left .1s;
    transition: margin-left .1s;
  }

  .Button .LoadingIndicator {
    margin: 0 -15px 0 -5px;
  }

  .TagList ol {
    margin-left: auto;
    margin-right: 27px;
  }

  .TagList .TagIcon,
  .TagList ol .TagIcon {
    margin-right: auto;
    margin-left: 10px;
  }

  @media (max-width: 767px) {
    .DiscussionListItem-content {
      padding-right: 60px;
      padding-left: 50px;
    }

    .DiscussionListItem-count {
      margin-right: auto;
      margin-left: -35px;
    }

    .DiscussionListItem-author {
      margin-left: auto;
      margin-right: -45px;
    }

    .DiscussionListItem-main {
      margin-right: auto;
      margin-left: -45px;
    }

    .Dropdown .Dropdown-menu > li > a .Button-icon,
    .Dropdown .Dropdown-menu > li > button .Button-icon {
      margin-left: auto;
      margin-right: -30px;
    }

    .Dropdown .Dropdown-menu > li > a.hasIcon,
    .Dropdown .Dropdown-menu > li > button.hasIcon {
      padding-left: 0;
      padding-right: 50px;
    }

    .Header-controls .FormControl,
    .Header-controls .ButtonGroup,
    .Header-controls .Button {
      text-align: unset
    }

    .Header-controls button.Search-clear.Button {
      text-align: center;
    }

    .DiscussionListItem-badges {
      margin-left: auto;
      margin-right: -55px;
    }

    .Post-header .Avatar {
      margin-right: auto;
      margin-left: 5px;
    }

    .PostUser-badges {
      left: auto;
      right: 6px;
    }

    .EventPost-icon {
      margin-right: -30px;
      margin-left: 0;
      float: right;
    }

    .EventPost {
      padding-right: 50px;
      padding-left: 20px;
    }

    .App-backControl {
      left: auto;
      right: 0;
    }

    .App-primaryControl {
      left: 0;
      right: auto;
    }
    .App-drawer {
      left: auto;
      right: 0;
      -webkit-transform: translate3d(276px, 0, 0);
      transform: translate3d(276px, 0, 0);
    }
  }

  .EditTagModal-delete {
    float: left;
  }

  .PermissionGrid tbody th {
    padding-left: 50px;
    padding-right: 5px
  }

  code,
  kbd,
  pre,
  samp {
    direction: ltr;
    display: inline-block;
  }

  .TagList,
  .TagList ol {
    clear: both;
  }

  .TagGroup {
    padding-left: 0;
    padding-right: 150px;
  }

  .TagGroup > label, .MemberListPage .MemberList-list .MemberListItems > label {
    float: right;
    margin-left: 0;
    margin-right: -150px;
  }

  .TagsLabel .TagLabel:first-child {
    border-radius: 0 4px 4px 0;
  }

  .TagsLabel .TagLabel:last-child {
    border-radius: 4px 0 0 4px;
  }

  .Select {
    display: inline-flex;
    align-items: center;
  }

  .Select select {
    padding-right: 13px;
    padding-left: 30px;
  }

  .Select-caret {
    margin-left: auto;
    margin-right: -17px;
  }

  .TagSettingsModal-rangeInput input:first-child {
    margin-left: 5px;
    margin-right: 0;
  }

  .TagTile-lastDiscussion-title {
    margin-right: auto;
    margin-left: 10px;
  }

  .AlertManager {
    left: auto;
    right: 20px;
  }

  .Alert-controls {
    margin: 0 8px 0 -8px;
  }

  .PostMention:first-child {
    margin-left: 3px;
    margin-right: 0;
  }

  .PostMention:before {
    margin-right: 0;
    margin-left: 5px;
  }

  /* Bazaar */

  .ExtensionsPage.Bazaar .container {
    margin: 0;
  }

  /* Links */

  .LinkItems,
  .MemberListPage .MemberList-list .MemberListItems {
    padding-right: 150px;
    padding-left: 0;
  }

  .LinkItems > label {
    margin-left: auto;
    margin-right: -150px;
    float: right;
  }

  .LinkListItem-info .Button {
    float: left;
    margin: -8px 10px -8px -10px;
  }

  .EditLinkModal-delete {
    float: left;
  }

  /* User Management */

  .MemberListPage .MemberList-list .MemberListItems .MemberList li .MemberListItem-info0 .Button,
  .MemberListPage .MemberList-list .MemberListItems .MemberList li .MemberListItem-info1 .Button,
  .MemberListPage .MemberList-list .MemberListItems .MemberList li .MemberListItem-info .Button {
    float: left;
    margin: 0;
  }

  .MemberListPage .MemberList-list .MemberListItems .MemberList li .MemberListItem-info > *[class^=MemberListItem-] i {
    margin-left: 1ch;
  }

  /* flagrow/upload */

  .flagrow-upload-button input {
    right: auto;
    left: 0;
  }

  .UploadPage .MimeTypes {
    float: right;
    direction: rtl;
  }

  /* davis/flarum-ext-socialprofile */

  button.Button.Button--primary.EditSocialButtons-save {
    float: left !important;
  }

  .form-group-social {
    direction: rtl;
  }

  .SocialFormControl.SocialTitle {
    direction: rtl;
  }

  .Socialurl {
    vertical-align: top;
  }

  .form-group-social .Button-caret {
    margin-left: 7px;
    margin-right: auto;
  }

  .social-settings > .fa-cog {
    border-left: 0;
    border-right: 1px solid white;
  }

  /* reflar/gamification */

  .SettingsPage .Ranks-number, .SettingsPage .Ranks-name, .SettingsPage .Ranks-color {
    float: right;
    margin: 5px 0 5px 5px;
  }

  .SettingsPage .Upload-label {
    margin-right: auto;
    margin-left: 15px;
  }

  .Post-Rank {
    margin-left: auto;
    margin-right: 10px;
  }

  /* wiwatsrt/flarum-ext-best-answer */

  .Post--bestAnswer .item-isBestAnswer {
    float: left;
  }

  .Post--bestAnswer .item-isBestAnswer::before {
    padding-right: 0;
    padding-left: 4px;
  }

  .Post-footer .item-bestAnswerPost .item-bestAnswerButton a {
    float: left;
  }

  .Dropdown-menu.Dropdown-menu--right {
    left: 0;
    right: auto;
  }


  .Navigation-back .icon {
    transform: rotate(180deg);
  }

  .PostUser {
    float: right;
  }

  a.Button.KilowhatWordpressSummaryPost-Link {
  }

  .Notification .Avatar {
    float: right;
    margin: -2px -55px -2px 0;
  }

  .Notification {
    padding: 8px 70px 8px 15px;
  }

  .Notification-icon {
    margin-left: auto;
    margin-right: -23px;
    float: right;
  }

  .KilowhatWordpressSummaryPost-Article {
    border: none;
    background: #ededed;
  }

  .KilowhatWordpressSummaryPost-Article h1, .KilowhatWordpressSummaryPost-Article h2, .KilowhatWordpressSummaryPost-Article h3 {
    font-weight: 400;
  }

  .Post--BestAnswer {
    right: auto;
    left: 0;
  }

  .DiscussionHero .badges {
    margin-right: 0;
    margin-left: 10px;
  }

  .Button--primary {
    font-weight: 600;
  }

  b, strong {
    font-weight: 600;
  }

  .PostUser h3, .PostUser h3 a {
    font-weight: 600;
  }

  .PostUser .UserOnline {
    margin-right: 0;
    margin-left: 5px;
  }

  .Post--BestAnswer .BestAnswer--User {
    margin-right: 7.5px;
    margin-left: 0px;
  }

  .Post--BestAnswer .icon {
    margin-right: 0;
    margin-left: 5px;
  }

  .IndexPage-toolbar-view > li {
    margin-right: 0;
    margin-left: 5px;
  }

  .IndexPage-toolbar-action > li {
    margin-right: 5px;
    margin-left: 0;
  }

  .IndexPage-nav .item-newDiscussion .Button {
    padding: 10px 13px;
  }

  .DiscussionListItem .tooltip .tooltip-inner {
    min-width: max-content;
  }

  .KilowhatWordpressSummaryPost-ExcerptMore::before {
    background: linear-gradient(to top, #ededed, rgba(255, 255, 255, 0));
  }

  .KilowhatWordpressSummaryPost-ExcerptMore .Button {
    border: 1px solid black;
    color: black;
    padding: 10px;
  }

  .KilowhatWordpressSummaryPost-Wordpress, .KilowhatWordpressSummaryPost-Link {
    display: none;
  }

  .KilowhatWordpressSummaryPost-Article {
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
  }

  .DiscussionListItem-info .username {
    display: inline-block;
  }

  .DiscussionListItem-info .username {
    display: inline-block;
  }

  .chat .frame {
    float: left;
  }

  chat left container hidden {
    right: auto;
    left: 0;
  }

  .chat {
    width: 360px;
  }


  .chat .frame #chat-header h2 {
    float: right;
    font-size: 17px;
  }

  .chat .frame .wrapper .message-wrapper .message-block .toolbar .name {
  }


  .chat .frame .wrapper .message-wrapper .message-block .toolbar .timestamp {
    float: left;
  }

  .chat .frame .wrapper .message-wrapper .message-block .toolbar .edit {
    float: left;
  }


  .chat .frame .wrapper .message-wrapper .avatar-wrapper {
    padding-right: 0;
    padding-left: 10px;
  }


  .chat .frame .wrapper .message-wrapper .message-block .toolbar .timestamp {
    float: left;
  }

  .chat .frame .wrapper .message-wrapper .message-block .toolbar .edit {
    float: left;
  }


  .chat .frame .wrapper .message-wrapper .avatar-wrapper {
    padding-right: 0;
    padding-left: 10px;
  }

  .chat .frame #chat-header p {
    float: left;
  }

  .chat .frame .wrapper .message-wrapper {
    padding: 3px 15px 3px 3px;
  }

  .chat .frame .input-wrapper .icon.send {
    transform: rotate(180deg);
  }


  .chat .frame .wrapper .message-wrapper .message-block .message {
    padding-right: 0;
    padding-left: 10px;
  }
  .EventPost-icon {
    float: right;
  }

  .NotificationGroup-badges {
    margin-right: 12px;
    margin-left: 12px;
  }

  .panePinned .DiscussionPage-list {
    left: auto;
    right: 0;
  }

  .panePinned .DiscussionPage-list {
    overflow-x: hidden;
  }

  .PostUser {
    float: none !important;
  }

  .Hero-close {
    float: left;
  }

  .Notification .Notification-action {
    float: left;
  }

  .PostPreview .Avatar {
    float: right;
  }

  .MentionsDropdown .PostPreview-content, .PostMention-preview .PostPreview-content, .Post-mentionedBy-preview .PostPreview-content {
    padding-right: 37px;
    padding-left: 0;
  }

  .MentionsDropdown .PostPreview .Avatar, .PostMention-preview .PostPreview .Avatar, .Post-mentionedBy-preview .PostPreview .Avatar {
    margin: 0 -37px 0 0;
  }

  .NotificationGroup-badges {
    margin-right: 12px;
    margin-left: 12px;
  }

  .item-points {
    direction: ltr;
  }
}

